body {
  margin: 0;
  height: 100vh;
}

#canvas{
width: 100%;
height: 100%;
background-color: #000000;
}

#header{
  
}

#footer{

}

#editorWrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

#webgl{
  flex-direction: flex-start;
  display: flex;
  width: 60vw;
  height: 100vh;
}

#editor{
  display: flex;
  width: 40vw;
  height: 100vh;
  background-color: aquamarine;
}